*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*****************Estilos estructura***********************/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #cacaca;
}


 #navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    padding: 10px;
    z-index: 1000;
    background:linear-gradient(gray, rgb(54, 54, 54));
}



main{
    flex: 1;
    margin-top: 200px;
    padding: 20px;
}


footer{
    background:linear-gradient(gray, rgb(54, 54, 54));
    padding: 60px;
}


/*************** Navbar elementos ***************/

.logo{
    width: 200px;
}

.menu{
    display: flex;
    gap: 60px;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu a:hover{
    color: black;
}

.menu a.active {
    font-weight: bold;
    text-decoration: underline;
}



/****************Clase creada en JS****************/
#navbar.nav-scroll{
    opacity: 80%;
    height: 150px;
    transition: 0.5s;
}


/*****************Estilos de la sección Hero***********************/

.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.hero h1{
    font-size: 50px;
    margin-top: 10px;
    color: black;
}

.hero p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    color: black;
    width: 80%;
}

/********************************estilos de la seccion tarjetas************************************************/

/********tarjeta entrenamiento personal**************/
.tarjetas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    gap: 150px;
    padding: 50px;
}

.tarjeta-entrenamiento{
    display: flex;
    flex-direction: column;
    width: 400px;
    height:400px;
    padding: 10px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 15px 8px 10px rgba(80, 80, 80, 0.6);
}

.tarjeta-entrenamiento img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.tarjeta-entrenamiento h2{
    font-size: 30px;
    margin-top: 20px;
    color: black;
}

.tarjeta-entrenamiento p{
    font-size: 1rem;
    margin-top: 20px;
    color: black;
}



/************tarjeta dieta personalizada**********************/
.tarjeta-dieta{
    display: flex;
    flex-direction: column;
    width: 400px;
    height:400px;
    padding: 10px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 15px 8px 10px rgba(80, 80, 80, 0.6);
}

.tarjeta-dieta img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.tarjeta-dieta h2{
    font-size: 30px;
    margin-top: 20px;
    color: black;
}

.tarjeta-dieta p{
    font-size: 1rem;
    margin-top: 20px;
    color: black;
}


/********************tarjeta entrenamiento casa*****************/

.tarjeta-casa{
    display: flex;
    flex-direction: column;
    width: 400px;
    height:400px;
    padding: 10px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 15px 8px 10px rgba(80, 80, 80, 0.6);
}

.tarjeta-casa img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.tarjeta-casa h2{
    font-size: 30px;
    margin-top: 20px;
    color: black;
}

.tarjeta-casa p{
    font-size: 1rem;
    margin-top: 20px;
    color: black;
}


/**************************Estilos de seccion experiencia***************************/


.experiencia{
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 200px;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    align-items: center;
}

.experiencia img{
    width: 450px; 
    height: 450px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 5px solid #333; 
}


.experiencia p{
    font-size: 1.5rem;
    margin-top: 20px;
    color: black;
    width: 50%;
   
}


/**************************Estilos opiniones***************************/
h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
    color: black;
    margin-top: 200px;
}
.reseñas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 50px;
    gap: 20px;
    padding: 20px;
    
}

.noticia {
    background:white;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.noticia h3 {
    margin: 0 0 10px;
    color: #2c3e50;
}

.noticia small {
    display: block;
    margin-top: 10px;
    color: #777;
}


/**************************Estilos footer***************************/


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

footer img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}


/**************************Estilos aviso legal, politica de privacidad y terminos y condiciones***************************/

.aviso-legal{
    display: flex;  
    align-items: center;
    flex-direction: column;
    color: rgb(8, 8, 8);
}


.privacidad{
    display: flex;  
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(8, 8, 8);
}

.terminos_condiciones{
    display: flex;  
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(8, 8, 8);
}



/**************************Estilos Galeria***************************/

h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
    color: black;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 50px;
    width: 100%;
    height: 100%;
}

.imagen-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.imagen-container:hover {
    transform: scale(1.05);
}

.imagen-container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.imagen-container p {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}


/**************************Estilos Mapa***************************/

#mapa {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    
}

.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-bottom: 50px;
}

.informacion h2{
    font-size: 3.5rem;
    margin-top: 20px;
    color: black;
}

.informacion p{
    font-size: 1.5rem;
    color: black;
}




/*****************************************Estilos formulario***************************************************/

.formulario {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

.formulario h2 {
    text-align: center;
    color: #333;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

legend {
    font-weight: bold;
    color: #555;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5b5c5e;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#presupuesto {
    font-size: 18px;
    font-weight: bold;
    color: #525457;
    text-align: center;
}


/******************************APLICAMOS RESPONSIVE***************************************************/


/* Estilos para pantallas de hasta 768px */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        height: auto;
    }

    #navbar.nav-scroll {
        height: auto;
    }

    .menu {
        flex-direction: column;
        gap: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .hero h1 {
        font-size: 40px;
        margin-top: 120px;
    }

    .hero p {
        font-size: 1.2rem;
        width: 80%;
    }

    .tarjetas {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    .tarjeta-entrenamiento,
    .tarjeta-dieta,
    .tarjeta-casa {
        width: 100%;
        height: auto;
    }

    .experiencia {
        display: flex;
        flex-direction: column;
    }
    .experiencia img{
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    .experiencia p{
        width: 100%;
        margin-bottom: 100px;   
    }

    h2{
        
       margin-top: 250px;
    }

    .reseñas{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 50px;
        gap: 20px;
        padding: 20px;
    }
}

/* Estilos para pantallas de hasta 480px (móviles) */
@media (max-width: 480px) {
    .menu {
        gap: 10px;
    }

    .menu a {
        font-size: 16px;
    }

    .hero h1 {
        font-size: 30px;
        margin-top: 100px;
    }

    .hero p {
        font-size: 1rem;
        width: 90%;
    }

    .tarjetas {
        gap: 30px;
    }

    .tarjeta-entrenamiento h2,
    .tarjeta-dieta h2,
    .tarjeta-casa h2 {
        font-size: 24px;
    }

    .tarjeta-entrenamiento p,
    .tarjeta-dieta p,
    .tarjeta-casa p {
        font-size: 0.9rem;
    }

    
    .experiencia img{
        width: 100%;
        height: 400px;
        margin-top: 0px;
    }

    .experiencia p{
       font-size: 0.9rem; 
    }

    h2{
        
       margin-top: 50px;
    }

    .reseñas{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 0px;
        gap: 20px;
        padding: 20px;
    }

    .informacion{
        margin-top: 70px;
    }
}