<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>TRAINER ESPECIAL</title>
</head>
<body>
     <nav id="navbar">
        <img class="logo" src="../assets/Captura_de_pantalla_2025-02-17_125057-removebg-preview.png" alt="LOGO TRAINER ESPECIAL">
        <ul class="menu">
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="galeria.html">GALERÍA</a></li>
            <li><a href="presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
    
    
    <main>
        <section class="aviso-legal">
            <h2>INFORMACION GENERAL</h2>
            <p>En cumplimiento con lo establecido en la normativa vigente sobre servicios de la sociedad de la información y comercio electrónico, se informa a los usuarios de la página web TRAINER ESPECIAL (en adelante, "la Web") de los siguientes 

                Titular: TRAINER ESPECIAL 
                Domicilio: Calle pelayo 19, 33402 
                Correo electrónico: TrainerEspecial@gmail.com 
                Teléfono: 984 98 98 98 
                Actividad: Plataforma para la solicitud de entrenadores personales y servicios de asesoramiento fitness.</p>

            <h2>CONDICIONES DE USO DE LA WEB</h2>
            <p>El acceso y uso de esta Web atribuye la condición de usuario, lo que implica la aceptación de las presentes condiciones:

                El usuario se compromete a hacer un uso adecuado de los contenidos y servicios de la Web, respetando la legislación vigente y la buena fe. 
                Queda prohibido el uso de la Web con fines ilícitos o lesivos, o que puedan causar perjuicio a TRAINER ESPECIAL o a terceros. 
                La empresa se reserva el derecho de modificar en cualquier momento la presentación, configuración y contenido de la Web sin previo aviso. 

            <h2>Propiedad intelectual e industrial</h2>
            <p>Los contenidos de la Web, incluyendo textos, imágenes, marcas, logotipos, diseños, etc., son propiedad de TRAINER ESPECIAL o de terceros que han autorizado su uso. 
                Queda prohibida la reproducción, distribución, comunicación pública y transformación de los contenidos de la Web sin autorización expresa de TRAINER ESPECIAL. 
                El usuario se compromete a respetar los derechos de propiedad intelectual e industrial de TRAINER ESPECIAL y de terceros.</p>
            
            <h2>Protección de datos personales</h2>
            <p>TRAINER ESPECIAL cumple con la normativa vigente en materia de protección de datos. Puedes consultar nuestra Política de Privacidad para obtener más información sobre cómo tratamos tus datos personales.
            
        </section>
    </main>
      
    
    <footer>
       
        <p>© 2025 TRAINER ESPECIAL. Todos los derechos reservados. |  
            <a href="avisolegal.html">Aviso Legal</a> |  
            <a href="politica-privacidad.html">Política de Privacidad</a> |  
            <a href="terminos_condiciones.html">Términos y Condiciones</a>
        </p>
    
        <p>Calle Pelayo 19, 33402</p>
            
        <div>
            <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/png-clipart-facebook-logo-computer-icons-social-media-facebook-youtube-social-network-social-media-logo-internet-thumbnail-removebg-preview.png" alt=" logo facebook"></a>
            <a href="https://www.instagram.com/"><img src="../assets/87390-removebg-preview.png" alt=" logo instagram"></a>
            <a href="https://x.com/home?lang=es"><img src="../assets/2ba717ac010d3b9f8d26e9db4da291b8-removebg-preview.png" alt="logo X"></a>
        </div>
        
    
    </footer>

    <script src="/JS/scroll.js"></script>
</body>
</html>