<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>TRAINER ESPECIAL</title>
</head>
<body>
     <nav id="navbar">
        <img class="logo" src="../assets/Captura_de_pantalla_2025-02-17_125057-removebg-preview.png" alt="LOGO TRAINER ESPECIAL">
        <ul class="menu">
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="galeria.html">GALERÍA</a></li>
            <li><a href="presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
    
    
    <main>
        <section class="terminos_condiciones" >
            <h2>TERMINOS Y CONDICIONES</h2>
            <p>1. Introducción
                El presente documento establece los términos y condiciones bajo los cuales TRAINER ESPECIAL (en adelante, "la Web" o "la Plataforma") ofrece sus servicios. Al acceder y utilizar esta Web, el usuario acepta cumplir con estas condiciones.
                
                2. Descripción del Servicio
                TRAINER ESPECIAL es una plataforma que permite a los usuarios solicitar entrenadores personales y servicios de asesoramiento fitness. A través de la Web, los usuarios pueden obtener información, contratar servicios y acceder a contenido relacionado con el entrenamiento y la salud.
                
                3. Condiciones de Uso
                Al utilizar la Web, el usuario declara que:
                
                Tiene al menos 18 años o cuenta con el consentimiento de sus padres o tutores legales para usar la plataforma.
                Se compromete a proporcionar información veraz y actualizada en cualquier formulario de registro o contacto.
                No utilizará la Web con fines ilícitos o que puedan perjudicar a TRAINER ESPECIAL o a terceros.
                TRAINER ESPECIAL se reserva el derecho de suspender o cancelar el acceso a aquellos usuarios que incumplan estas condiciones.
                
                4. Registro y Cuentas de Usuario
                Algunos servicios pueden requerir que el usuario cree una cuenta. En este caso:
                
                El usuario es responsable de mantener la confidencialidad de sus credenciales de acceso.
                TRAINER ESPECIAL no será responsable por el uso indebido de la cuenta de un usuario por parte de terceros.
                La empresa se reserva el derecho de suspender o eliminar cuentas en caso de detectar actividad fraudulenta o uso indebido.
                5. Pagos y Contratación de Servicios
                Algunos servicios ofrecidos en la Web pueden requerir pago. Los precios y condiciones de cada servicio se indicarán en la propia Web.
                Los pagos se procesarán a través de plataformas seguras de terceros.
                No se aceptarán reembolsos una vez contratado un servicio, salvo en los casos expresamente indicados en la política de reembolsos.
                6. Propiedad Intelectual e Industrial
                Todos los contenidos de la Web, incluyendo textos, imágenes, logotipos, diseño y software, están protegidos por derechos de propiedad intelectual e industrial y pertenecen a TRAINER ESPECIAL o a sus respectivos titulares. Queda prohibida su reproducción, distribución o modificación sin autorización.
                
                7. Responsabilidad y Garantías
                TRAINER ESPECIAL no garantiza la disponibilidad ininterrumpida de la Web ni la ausencia de errores en su funcionamiento.
                No nos hacemos responsables de los daños derivados del uso de la plataforma o de la interpretación de la información contenida en ella.
                El usuario acepta utilizar la Web bajo su propio riesgo.
                8. Enlaces a Terceros
                La Web puede contener enlaces a páginas de terceros. TRAINER ESPECIAL no se hace responsable del contenido ni de las prácticas de estos sitios externos.
                
                9. Protección de Datos
                TRAINER ESPECIAL cumple con la normativa vigente en materia de protección de datos. Puedes consultar nuestra Política de Privacidad para más información sobre cómo tratamos tu información personal.
                
                10. Modificaciones de los Términos y Condiciones
                Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios serán efectivos desde su publicación en la Web.
                
                11. Legislación y Jurisdicción
                Estos términos se rigen por la legislación española. Cualquier disputa se resolverá en los tribunales de [tu ciudad o provincia], salvo que la normativa de consumo establezca otro fuero.</p>
        </section>
    </main>
      
    
    <footer>
       
        <p>© 2025 TRAINER ESPECIAL. Todos los derechos reservados. |  
            <a href="avisolegal.html">Aviso Legal</a> |  
            <a href="politica-privacidad.html">Política de Privacidad</a> |  
            <a href="terminos_condiciones.html">Términos y Condiciones</a>
        </p>
    
        <p>Calle Pelayo 19, 33402</p>
            
        <div>
            <a href="https://www.facebook.com/?locale=es_ES"><img src="../assets/png-clipart-facebook-logo-computer-icons-social-media-facebook-youtube-social-network-social-media-logo-internet-thumbnail-removebg-preview.png" alt=" logo facebook"></a>
            <a href="https://www.instagram.com/"><img src="../assets/87390-removebg-preview.png" alt=" logo instagram"></a>
            <a href="https://x.com/home?lang=es"><img src="../assets/2ba717ac010d3b9f8d26e9db4da291b8-removebg-preview.png" alt="logo X"></a>
        </div>
        
    
    </footer>

    <script src="/JS/scroll.js"></script>
</body>
</html>